@import "../uqlibrary-elements/resources/theme/variables";

/*search input uses white text colour and full width of a flex */
#input {
  color: $white;
  width: 100%;
  height: 41px;
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    red;
  }
}
/*
search input placeholder text should be weaker than user's input text,
this gives it material design level of transparency, across browsers
*/
::-webkit-input-placeholder { /* WebKit browsers, Mozilla Firefox 19+ */
  color:    $uq-text-tertiary;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    $uq-text-tertiary;
}

.activateSearch {
  color: $uq-placeholder-inverse !important;
  core-icon {
    color: $text;
  }
  #input {
    color: $text !important;
    &::-webkit-input-placeholder { /* WebKit browsers, Mozilla Firefox 19+ */
      color:    $uq-placeholder-inverse;
    }
    &::-moz-placeholder { /* WebKit browsers, Mozilla Firefox 19+ */
      color:    $uq-placeholder-inverse;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color:    $uq-placeholder-inverse;
    }
  }
}